.home__container {
    padding: 80px 100px 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    &__graphic {
        width: 60%;
    }
    &__content {
        width: 40%;
    }
    h1 {
        font-size: 50px;
        line-height: 60px;
        text-transform: uppercase;
        letter-spacing: 12px;
        word-wrap: break-word;
    }
    h6 {
        font-size: 18px;
        margin-top: 10px;
    }
    p {
        margin-top: 30px;
        text-align: justify;
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-between;
}

@media (max-width: 1389px) {
    .welcome,
    .features {
        row-gap: 50px;
        justify-content: center;
    }
    .welcome {
        &__content {
            width: 80%;
        }
        &__graphic {
            width: 100%;
        }
    }
}
@media (max-width: 700px) {
    .home__container {
        padding: 30px;
    }
    .welcome {
        &__content {
            width: 100%;
        }
    }
    .features {
        gap: 30px;
    }
}